<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Echolink CRON System</title>

        <!-- Core CSS - Include with every page -->
        <link href="{{ baseUrl() }}/media/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ baseUrl() }}/media/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Page-Level Plugin CSS - Tables -->
        <link href="{{ baseUrl() }}/media/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

        <!-- SB Admin CSS - Include with every page -->
        <link href="{{ baseUrl() }}/media/css/sb-admin.css" rel="stylesheet">

    </head>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">

                    <a class="navbar-brand" href="index.html">Echolink CRON System</a>
                </div>
                <!-- /.navbar-header -->



                <div class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav" id="side-menu">

                            <li>
                                <a href=""><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li> 
                            <li>
                                <a href="{{ baseUrl() }}/check"><i class="fa fa-table fa-fw"></i> Manual update</a>
                            </li> 
                        </ul>
                        <!-- /#side-menu -->
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Last update</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                {{ flash.info|raw }}


                <!-- /.row -->
                <div class="row">

                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                List of repeaters
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date of inspection</th>
                                                <th>Callname</th>
                                                <th>Result</th> 
                                                <th>E-mail</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for list in dataEcholinkRepeater %} 
                                                <tr class="odd gradeX">
                                                    <td>{{ list.checkDate }}</td>
                                                    <td>{{ list.callname }}</td> 
                                                    <td>{% if list.status == 1 %}<p class="text-success">ONLINE</p>{% else %}<p class="text-danger">OFFLINE </p>{% endif %}</td> 
                                                    <td>{% if list.email != "" %}<p class="text-success">Yes</p>{% else %}<p class="text-danger">No </p>{% endif %}</td> 
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
<div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Useful information
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#api" data-toggle="tab">Api</a>
                                    </li>
                                    <li><a href="#cron" data-toggle="tab">Cron</a>
                                    </li>
                                    <li><a href="#contact" data-toggle="tab">Contact</a>
                                    </li> 
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="api">
                                        <h4>API</h4>
                                        <p>Can be obtained through the API get information about a repeater.</p>
                                        <code>{{ baseUrl() }}/api/ok0mar</code>
                                        <p>Record returns in JSON format.</p>
                                        <strong>Example:</strong>
                                        <code>{"callname":"ok0bhd","checkDate":"2014-05-26 09:14:22","status":true}</code>
                                    </div>
                                    <div class="tab-pane fade" id="cron">
                                        <h4>CRON</h4>
                                        <p>Set CRON task with the following link. I recommend every 10 minutes. Sometimes it may happen that the server will not be available.</p>
                                        <code>{{ baseUrl() }}/cron</code>
                                        <p>Returns in JSON format data.</p>
                                        <strong>Example:</strong>
                                        <code>{"time":1401102361,"message":"Run finish"}</code>
                                    </div>
                                    <div class="tab-pane fade" id="contact">
                                        <h4>Contact Auhor</h4>
                                        <p>Hi, my contact in case of questions is ok2uec@gmail.com</p>
                                    </div> 
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                

                </div>
                <!-- /.row -->




                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Overview of last update made ​​via cron / manual Update
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Date of inspection</th>
                                                <th>Result</th> 
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for list in dataHistory %} 
                                                <tr class="odd gradeX">
                                                    <td>{{ list.checkDate }}</td>
                                                    <td>{{ list.text }}</td> 
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                <div class="well">
                                    <h4>Info</h4>
                                    <p>For technical reasons, the History limited to 1000 entries</p>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>


                <!-- /.row -->
                <div class="row">

                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Delete repeater
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <form role="form" method="post" action="{{ baseUrl() }}/delete">
                                        <div class="form-group">
                                            <label>Master Passwords</label>
                                            <input name="masterpassword" type="password" class="form-control">
                                            <p class="help-block">Required to delete repeater</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Callname repeater</label>

                                            <select name="callname" class="form-control"> 
                                                {% for list in dataEcholinkRepeater %}  
                                                    <option value="{{ list.id }}">{{ list.callname }}</option> 
                                                {% endfor %} 
                                            </select>

                                        </div>

                                        <button type="submit" class="btn btn-default">Delete</button> 
                                    </form>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->

                    
                        <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Add repeaters
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <form role="form" method="post" action="{{ baseUrl() }}/add">
                                        <div class="form-group">
                                            <label>Master Passwords</label>
                                            <input name="masterpassword" type="password" class="form-control">
                                            <p class="help-block">Required to add repeater</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Callname repeater</label>
                                            <input name="callname" class="form-control" placeholder="ok2uec">
                                        </div>
                                        <div class="form-group">
                                            <label>E-mail for notification</label>
                                            <input name="email" type="text" class="form-control">
                                            <p class="help-block">If you do not want notifications not fill</p>
                                        </div>
                                        <button type="submit" class="btn btn-default">Add</button> 
                                    </form>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                    
                     

                </div>
                <!-- /.row -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Core Scripts - Include with every page -->
        <script src="{{ baseUrl() }}/media/js/jquery-1.10.2.js"></script>
        <script src="{{ baseUrl() }}/media/js/bootstrap.min.js"></script>
        <script src="{{ baseUrl() }}/media/js/plugins/metisMenu/jquery.metisMenu.js"></script>

        <!-- Page-Level Plugin Scripts - Tables -->
        <script src="{{ baseUrl() }}/media/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="{{ baseUrl() }}/media/js/plugins/dataTables/dataTables.bootstrap.js"></script>

        <!-- SB Admin Scripts - Include with every page -->
        <script src="{{ baseUrl() }}/media/js/sb-admin.js"></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function() {
                $('#dataTables-example').dataTable();
            });
        </script>

    </body>

</html>

